* {
  margin: 0;
  padding: 0;
}

body {
}

#container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background: url("../../assets/images/background.png") no-repeat center;
  background-size: cover;
}
