* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --color-red-primary: #de0e30;
  --color-blue-primary: #00237b;
  --text-white: #fff;
}
