@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

a {
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #de0e30;
  width: 6vmax;
  height: 2vmax;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-shadow: 0px 0px 4px 4px #de0e30;
}
