#line-input {
  color: var(--text-white);
  font-size: 16px;
  background-color: transparent;
  border-color: var(--color-red-primary);
  border-width: 2px;
  border-radius: 32px;
  padding: 1vw 6vw;
  outline: none;
  text-align: center;
}
